<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Call to action</title>
    <link href="/dist/style.css" rel="stylesheet">
</head>
<body class="bg-gray-800">
    
    <!-- Icon return -->
<a href="templatesTailwind.html">
    <img src="imagesTemplates/icon-return.png" alt="logo" class="m-5 h-8 w-auto sm:h-10">
    </a>

    <section class="bg-gradient-to-r from-emerald-300 to-lime-400">
        <div class="max-w-2xl mx-auto text-center py-12 px-4">
            <h2 class="text-3xl font-extrabold sm:text-4xl">
                <span class="block">
                    Join the team.
                </span>
                <span class="block">First month is free.</span>
            </h2>
            <p class="mt-4 text-lg leading-6 text-indigo-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia neque in incidunt alias eaque accusamus.</p>
            <a href="#" class="min-w-[150px] max-w-[300px] mx-auto mt-8 text-md flex items-center justify-center px-5 py-3 font-medium rounded-md text-indigo-600 bg-white sm:justify-between sm:inline-flex">
                <span>Checkout</span>
                <span>✅</span>
            </a>
            <a href="#" class="min-w-[150px] max-w-[300px] mx-auto mt-8 text-md flex items-center justify-center px-5 py-3 font-medium rounded-md text-indigo-600 bg-white sm:justify-between sm:inline-flex sm:ml-3">
                <span class="mr-3">Pricing</span>
                <span>💎</span>
            </a>
        </div>

    </section>
    
</body>
</html>
