<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Content Section</title>
    <link href="/dist/style.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

    <!-- Icon return -->
<a href="templatesTailwind.html">
    <img src="/templates/imagesTemplates/icon-return.png" alt="logo" class="m-5 h-8 w-auto sm:h-10">
    </a>

    <!-- Section -->
    <section class="sm:mt-20">

        <!-- Section Image -->
        <div class="relative container mx-auto bg-gray-100">

            <img src="imagesTemplates/venise.jpg" alt="Venise" class="w-full object-cover h-72 sm:w-1/2 sm:absolute sm:h-full">

            <div class="pt-10 px-10 sm:ml-auto sm:w-1/2">
                <h2 class="text-4xl mb-5">Your next trip to Italy 🍝</h2>
                <p class="font-thin text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, aliquam iste. Dolorum provident distinctio ipsa ipsum dolores qui officiis, ea nobis iusto ratione natus earum! Perferendis sint commodi eaque cupiditate.</p>

                <a href="#" class="mb-10 px-5 py-2 space-x-3 inline-flex ring-1 ring-slate-300 rounded shadow-md items-center justify-between p-3 bg-gradient-to-r from-red-300 to-orange-300 mt-10 md:mt-20">
                    <span>Take a ticket</span>
                    <img src="imagesTemplates/paperPlaneIcon.png" class="w-6" alt="paper plane">
                </a>

            </div>

        </div>

    </section>


</body>
</html>