<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ecommerce</title>
    <link href="/dist/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    
<!-- Icon return -->
<a href="templatesTailwind.html">
    <img src="imagesTemplates/icon-return.png" alt="logo" class="m-5 h-8 w-auto sm:h-10">
    </a>
    
<!-- Navbar -->    
    <nav class="flex justify-center">
        <a class="mx-2 text-lg">Home</a>
        <a class="mx-2 text-lg">Shop</a>
        <a class="mx-2 text-lg">Contact</a>
</nav>

<!-- Section -->    
<section class="max-w-7xl mx-auto px-4 py-10">
    <p class="text-3xl mb-5 font-thin">Most loved Mugs</p>
    <div class="grid gap-5 grid-cols-1 sm:grid-col-2 md:grid-cols-3 lg:grid-cols-4">

        <!--card 1-->
        <div class="shadow-lg">
            <img src="imagesTemplates/capturdbz.png" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>Dragon Ball Mug</p>
                    <p>18€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

        <!--card 2-->
        <div class="shadow-lg">
            <img src="imagesTemplates/mug-one-piece.jpg" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>One piece Mug</p>
                    <p>24€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

        <!--card 3-->
        <div class="shadow-lg">
            <img src="imagesTemplates/mug-gto.jpg" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>Great Teacher Onizuka Mug</p>
                    <p>16€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

        <!--card 4-->
        <div class="shadow-lg">
            <img src="imagesTemplates/mugff9.webp" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>Final Fantasy 9 Mug</p>
                    <p>11€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

        <!--card 5-->
        <div class="shadow-lg">
            <img src="imagesTemplates/mug-kingdom-hearts.jpg" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>Kingdom Hearts Mug</p>
                    <p>19€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

        <!--card 6-->
        <div class="shadow-lg">
            <img src="imagesTemplates/mug-crash.jpg" class="h-80 w-full object-cover">
            <div class="p-4"> 
                <div class="flex justify-between">
                    <p>Crash Mug</p>
                    <p>18€</p>
                </div>
                <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
                    <span class="mr-3">
                        Add to cart
                    </span>
                    <img src="imagesTemplates/caddie.png" alt="caddie" class="w-5">
                </button>
            </div>
        </div>

    </div>
</section>

</body>
</html>
