<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/dist/style.css" rel="stylesheet">
    <title>Templates</title>
</head>
<html>
    <body class="accueil-bg-magic pt-6 pb-16 min-h-500 sm:pb-24 md:min-h-650">





<nav class="absolute top-2 w-11/12 left-1/2 transform -translate-x-1/2 shadow-md ring-1 ring-black ring-opacity-5 p-1 rounded-lg bg-white">

<div class="px-5 h-16 flex items-center justify-center">

    <a href="../index.html">
    <p class="font-medium text-lg text-black-500 hover:text-blue-500">Retour au site</p>
    </a>

    <div class="-mr-2">
        <a href></a>
    </div>
</div>

</nav>
 
<div id="templatesTailwind" class="mt-24 px-4 text-center sm:mt-28 lg:mt-32">
        
  <h2 class="text-2xl tracking-tight font-bold text-gray-800 sm:text-4xl md:text-5xl">
      <span class="block xl:inline">Templates réalisé avec</span>
      <span class="block text-blue-500 xl:inline">TailwindCSS</span>
  </h2>
  

<p class="my-10 text-lg mx-auto text-black-800 sm:text-xl">
 Quelques exemples de section possible avec Tailwind que j'ai réalisé lors de mon apprentissage de ce framework.
</p>

</div>

<div class="mt-8 flex flex-wrap justify-center items-center space-y-10 space-x-0 sm:space-x-6">  

    <!--Carte 1-->
    <a href="blog.html">
  <div class="mt-10 ml-6 min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/listeblog.png" alt="blog"/>
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Blog
      </h5>
    </div>
  </div>
  </a>

  <!--Carte 2-->
  <a href="contentsection.html">
    <div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/venise.png" alt="Venise"/>
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Section
      </h5>
    </div>
  </div>
  </a>

   <!--Carte 3-->
   <a href="calltoaction.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/calltoaction.png" alt="call to action"/>
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Call To Action
      </h5>
    </div>
  </div>
  </a>

  <!--Carte 4-->
  <a href="ecommerce.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/mugdbz.png" alt="mug dbz"/>
   
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        E-commerce
      </h5>
    </div>
  </div>
   </a>
   
   <!--Carte 5-->
  <a href="footer.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/capturefooter.png" alt=""/>
   
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Footer
      </h5>
    </div>
  </div>
   </a>

    <!--Carte 6-->
  <a href="newsletter.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/capturenewsletter.png" alt=""/>
   
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Newsletter
      </h5>
    </div>
  </div>
   </a>

   <!--Carte 7-->
  <a href="signup.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/signup.png" alt=""/>
   
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        Sign Up
      </h5>
    </div>
  </div>
   </a>

    <!--Carte 8-->
  <a href="list.html">
<div class="min-h-500 border-2 border-gray-300 hover:border-purple-500 border-r rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg" src="imagesTemplates/list.png" alt=""/>
   
    <div class="p-6">
      <h5 class="text-gray-900 text-center text-xl font-medium mb-2">
        List
      </h5>
    </div>
  </div>
   </a>

</div>

<script src="app.js"></script>
</body>
</html>
